<% include ../partials/header %>
<div class="container">
    <h1 style="text-align: center;">Sign Up Form</h1>
    <div style="width: 40%; margin: 30px auto;">
        <form action="/register" method="POST">
            <div class="form-group row">
                <label  for="username">Username</label>
                <input type="text" name="username" placeholder="Username" autofocus class="form-control">
                <small id="usernameHelp" class="form-text text-muted">Username will be shown for posts and comments you create.</small>
            </div>
            <div class="form-group row">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email" class="form-control">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Email is used to reset your password.</small>
            </div>
            <div class="form-group row">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control">
                <small id="passwordHelp" class="form-text text-muted">Password are safely encrypted in our database but make sure to use a unique password for each website.</small>
            </div>
            <div class="form-group row">
                <label for="adminCode">Admin code</label>
                <input type="text" name="adminCode" placeholder="Admin code" class="form-control">
                <small id="adminHelp" class="form-text text-muted">If you have one, enter the code to create an admin user otherwise, leave blank.</small>
            </div>
            <div class="form-group row">
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
    <a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ../partials/footer %>