<% include ../partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>Find the best campground from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add new campground</a>
            </p>
        </div>
    </header>

<div class="container">
     <div class="row">
<% campgrounds.forEach(function(campground){ %>
    <div class="col-md-4 col-sm-6">
        <div class="card">
            <div class="card-body">
                <img src="<%= campground.image %>" class="card-img-top">
                <h4 class="card-title"><%= campground.name %></h4>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
<% }); %>
  </div>
</div>
<% include ../partials/footer %>